<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SESTicket.My.MySettings.SESTicketAccConnStr" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\SESTicket\data\SESTicket.accdb;Persist Security Info=True;Jet OLEDB:Database Password=SESTicket123"
            providerName="System.Data.OleDb" />
        <add name="SESTicket.My.MySettings.SESTicketAccBaseConnStr" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\SESTicket\data\SESTicketBaseData.accdb;Persist Security Info=True;Jet OLEDB:Database Password=SESTicket123"
            providerName="System.Data.OleDb" />
        <add name="SESTicket.My.MySettings.SESTicketSQLConnStr" connectionString="Data Source=SVC1D3-01;Initial Catalog=SESTICKET_dev;Persist Security Info=True;User ID=usrSESTICKET;Password=sesticket123"
            providerName="System.Data.SqlClient" />
        <add name="SESTicket.My.MySettings.SESTicketBaseDataConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\SESTicketBaseData.accdb;Persist Security Info=True;Jet OLEDB:Database Password=SESTicket123"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>

</configuration>
