<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--UPDATE HERE WHEN PUBLISH IN PRODUCTION
    DEV: "Data Source=101LT-9ZSC9H2;Initial Catalog=SESTICKET_DEV;Persist Security Info=True;User ID=usrSESTICKET;Password=sesticket123"
    DEVDiego: "Data Source=416LT-38P6XT2;Initial Catalog=SESTICKET;Persist Security Info=True;User ID=usrSESTICKET;Password=superior123"
    ARG: "Data Source=argsql01;Initial Catalog=SESTICKET_ARG;Persist Security Info=True;User ID=usrSESTICKET;Password=sesticket123"
    COL: "Data Source=colsql01;Initial Catalog=SESTICKET;Persist Security Info=True;User ID=usrSESTICKET;Password=sesticket123"
    -->
    <add name="SESTicket.My.MySettings.SESTicketSQLConnStr" connectionString="Data Source=colsql01;Initial Catalog=SESTICKET;Persist Security Info=True;User ID=usrSESTICKET;Password=sesticket123"/>
    <!--<add name="SESTicket.My.MySettings.SESTicketSQLConnStr" connectionString="Data Source=COL-BOG-38P6XT2;Initial Catalog=SESTICKET;Persist Security Info=True;User ID=usrSESTICKET;Password=Elefante753!"/>-->
	  <!--=============-->
    <add name="SESTicket.My.MySettings.SESTicketAccConnStr" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\SESTicket\data\SESTicket.accdb;Persist Security Info=False;Jet OLEDB:Database Password=SESTicket123" providerName="System.Data.OleDb" />
    <add name="SESTicket.My.MySettings.SESTicketAccBaseConnStr" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\SESTicket\data\SESTicketBaseData.accdb;Persist Security Info=False;Jet OLEDB:Database Password=SESTicket123" providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="CheckVersion" value="true" />
    <!--UPDATE HERE WHEN PUBLISH IN PRODUCTION
    DEV: 101LT-9ZSC9H2
    ARG: argsql01
    COL: colsql01
    -->
    <add key="SQLServer" value="COLSQL01" />
    <!--=============-->
    <add key="SQLTimeOut" value="30" />
    <add key="ActiveDirectoryDomain" value="LDAP://superior.sesi.local" />
    <add key="PingMS" value="1200" />
    <add key="AppUpdLocal" value="C:\SESTicket\appupd" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="FilePath" value="C:\SESTicket\file" />
    <add key="ReportFilesLocal" value="C:\SESTicket\app\Reports\ReportFiles" />
    <add key="VisibleFormAttachSync" value="true" />
    <!--UPDATE HERE WHEN PUBLISH IN PRODUCTION
    DEV: C:\\Temp\dev\SESTicket\File
    ARG: \\argapp01\SESTicket\File
    COL: \\colweb01\SESTicket\File
    -->
    <add key="RemoteAttachFolder" value="\\colweb01\SESTicket\File" />
    <!--=============-->

    <!--UPDATE HERE WHEN PUBLISH IN PRODUCTION
    DEV: 
    ARG: http://argapp01:85/SESTicketReport/Report/Forms/frmReportMain.aspx
 	COL: https://colapp.superiorenergy.com/SESTicketReport/Report/Forms/frmReportMain.aspx
    -->
    <add key="SESTicketReport" value="https://colapp.superiorenergy.com/SESTicketReport/Report/Forms/frmReportMain.aspx" />  
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
