<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SESTicket.My.MySettings.SESTicketAccConnStr" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\SESTicket\data\SESTicket.accdb;Persist Security Info=False;Jet OLEDB:Database Password=SESTicket123" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <appSettings>
    <add key="AppUpdLocal" value="C:\SESTicket\appupd"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="FilePath" value="C:\SESTicket\file"/>
    <add key="RemoteAttachFolder" value="\\colweb01\SESTicket\File"/>
    <add key="hide" value="true"/>
  </appSettings>
  <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
</configuration>
